<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ASW app</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        {% block title %}{% endblock %}
    </head>
    <body>
        <nav>{% include 'WindowManager.html' %}</nav>
        <div>{% block content %}{% endblock %}</div>
        <div style="height: 20px; width: 100%; display: flex; align-items: center;">
            <div style="background-color: var(--orange-hn); height: 2px; width: 100%;"></div>
        </div>
    </body>
</html>