{% extends 'base.html' %}

{% block title %}<title>News</title>{% endblock %}

{% block content %}
    {% load humanize %} 
    <!-- {% if user.is_authenticated %}
    <p>Logged! {{ user.first_name }}</p>
    {% endif %} -->
    {% for contribution in contributions %}
    <div style="height: 10px;"></div>
    <div class="contribution">
        <div>
            <div class="counter"><p>{{ forloop.counter }}. ▲</p></div>
            <div>
                <p class="title"><a href="{{ contribution.url }}">{{ contribution.title }}</a></p>
                <!--<p>{{ contribution.content }}</p>-->
                <p class="created-at"><a href="{% url 'show_contribution_view' id=contribution.id %}">{{ contribution.created_at|naturaltime }}</a></p>
                <p class="author"><a href="{% url 'show_contribution_view' id=contribution.id %}">{{ contribution.author.username }}</a></p>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}
