{% extends 'base.html' %}

{% block title %}<title>News</title>{% endblock %}

{% block content %}

    {% for contribution in contributions %}
    <div class="contribution">
        <h1>NEWS WELCOME</h1>
        <div>
            <p>{{ forloop.counter }}</p>
            <div>
                <p>{{ contribution.name }}</p>
                <p>{{ contribution.content }}</p>
                <p>{{ contribution.created_at }}</p>
            </div>
        </div>
    </div>
    <hr>
    {% endfor %}

{% endblock %}
