{% extends 'base.html' %}

{% block title %}<title>News</title>{% endblock %}

{% block content %}
    {% load humanize %} 
        <table>
            <tr>
                <th class="profile-tag">user:</th>
                <td>{{ username }}</td> 
            </tr> 
            <tr>
                <th class="profile-tag">created at:</th>
                <td> {{ joined | naturaltime }} </td> 
            </tr>
            <tr>
                <th class="profile-tag">karma</th>
                <td>{{ karma }}</td> 
            </tr>
            <tr>
                <th class="profile-tag">email</th>
                <td>{{ email }}</td> 
            </tr> 
            <tr>
                <th>description</th>
                <td>{{ description }}</td>
            </tr>
                <form action="{% url 'profile_view' %}", method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit"> update </button>
                </form>
            <tr class="profile-options">
                <td>
                    <p>
                        <a href="{% url 'show_contributions_user' id=hackerid %}">
                            Submissions
                        </a>
                    </p>
                </td>                
            </tr>
            <tr class="profile-options">
                <td>
                    <p>
                        <a href="{% url 'show_comments_user' id=hackerid %}" method="get">
                            Comments
                        </a>
                    </p>
                </td>                
            </tr>
           
        </table>

    

{% endblock %}