{% extends 'base.html' %}

{% block title %}<title>News</title>{% endblock %}

{% block content %}
    {% load humanize %} 
        <table>
            <tr>
                <th>user:</th>
                <td>{{ username }}</td> 
            </tr> 
            <tr>
                <th>created at:</th>
                <td> {{ joined }} </td> 
            </tr>
            <tr>
                <th>karma</th>
                <td>{{ karma }}</td> 
            </tr>
            <tr>
                <th>email</th>
                <td>{{ email }}</td> 
            </tr> 
        </table>

    

{% endblock %}