
{% load humanize %} 
<div class="about">
    <span>anonymous</span>
    <span>{{ reply.created_at|naturaltime }}</span>
    <span id="hide-{{ reply.id }}" class="hide">[ - ]</span>
</div>
<div id="content-to-hide-{{ reply.id }}">
    <p class="content">{{ reply.comment }}</p>
    <p class="comment-reply"><a href="">reply</a></p>

    {% if subreplies %}
        {% for r, s in subreplies.items %}
            <table border="0">
                <tbody>
                    <td valign="top">▲</td>
                    <td>
                        {%with reply=r subreplies=s template_name="recursive_comment.html" %}
                            {% include template_name %}
                        {% endwith %}
                    </td>
                </tbody>
            </table>
        {% endfor %}
    {% endif %}
</div>