
{% extends 'base.html' %}

  {% block title %} 
    <title>Submit</title> 
  {% endblock %}

  {% block content %}
    <!--{% if user.is_authenticated %}-->
      <form action="{% url 'submit_contribution_view' %}", method="POST">
        {% csrf_token %}
        <table>
          {% for field in form %}
            {% if forloop.counter == 1 %}
            <tr>
              <th></th>
              <td></td> 
            </tr>  
            {% endif %}
            <tr>
              <th class="label-tag">{{ field.label_tag }}</th>
              <td>
                {{ field.errors }}
                {{ field }}
              </td>
            </tr>
            {% if forloop.counter == 2 %}
            <tr>
              <th></th>
              <td><b>or</b></td> 
            </tr>  
            {% endif %}
          {% endfor %}
          <tr>
            <th></th>
            <td><button type="submit">Add comment</button></td>
          </tr>
          <tr>
            <th></th>
            <td>
              <p>Leave url blank to submit a question for discussion. If there is no url, the text (if any) will appear at the top of the thread.</p>
            </td>
          </tr>
        </table>
        
      </form>  

    <!--{% else %}
    <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">
      Login
      </a>
    {% endif %}-->
    

  {% endblock %}