env/*
aswapp/*/__pycache__
aswapp/*/migrations
aswapp/*/templatetags/*
aswapp/*/staticfiles/
.DS_Store
aswapp/.DS_Store
.vscode/launch.json
.vscode/settings.json
aswapp/register/*
aswapp/db.sqlite3
aswapp/static/admin/*
.env
tutorial/tutorial/*
aswapp/contributions/api/*
aswapp/users/api/__pycache__/*
react-application/*