:root {
    --orange-hn: #ff6b0f;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
html { 
    display: flex;
    justify-content: center;
}

body {
    background-color: white;
    width: 90%;
    margin-top: 7.5px;
}

nav {
    background-color: var(--orange-hn);

}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    padding: 2px 6px;
}

.bar::after {
    content: '  |';
    white-space: pre;
}

ul li:first-child {
    padding: 2px 2px;
}

body > div {
    background-color: rgba(254, 250, 236, 0.851);
    width: 100%;
    height: max-content;
}

.contribution * {
    padding: 0;
    margin: 0;
}

.contribution > div {
    display: grid;
    grid-template-columns: 50px auto;
}

.contribution .counter {
    align-self: flex-start;
    justify-self: center;
    color: grey;
}

.contribution .created-at, .comment-reply {
    color: grey;
    font-size: small;
}

.logo { 
    border: 1px white solid; 
    height: 16px; 
    width: 16px; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

a, a:link, a:active {
    text-decoration: none;
    color: black;
    font-size: smaller;
    align-self: center;
    color: inherit
}

.created-at a:hover {
    text-decoration: underline;
}

table .label-tag {
    font-weight: lighter !important;
    text-align: left;
}

table {
    font-size: small;
    color: grey;
}

table input[type='text'], table input[type='url'], table textarea {
    width: 80%;
}

.comment-tree {
    width: 100%;
}

.comment-tree .comment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.comment-tree .comment .content {
    color: black;
    font-size: initial;
    margin: 5px 0;
}

.comment-reply {
    margin: 0; 
    margin-bottom: 5px;
}

.comment-tree .hide {
    cursor: pointer;
}
